/*まずはお決まりのボックスサイズ算出をborer-boxに */
*{
  text-align: justify;
}
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {

  font-size: 100%;  /* rem算出をしやすくするために */
  width: 0 auto;
}
.input-btn {
  position:relative;
		left: 560px;
  border: none;
  font-size: 0.1rem;
  line-height: 0.8;
  padding: 1rem 5rem;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.2em;
  color: #fff;
  background-color: #00a8eb;
}
.hiss{
  font-size: 5px;
	border: solid 1px #fc0101;
  padding: 0px 3px;
  margin: 10px;
  vertical-align: middle;
}